
body {
    margin: 0;
    padding: 0;
    overflow-y: auto; /* Ensure vertical scrollbar appears when needed */
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-left: 40px;
}

.movie-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    padding: 8px;
    background-color: #f9f9f9;
    transition: transform 0.2s;
    color: #0a1b39;
}

    .movie-card:hover {
        transform: scale(1.05);
    }

    .movie-card img {
        width: 100%;
        height: auto; /* Maintain aspect ratio */
        border-radius: 20px;
    }

    .movie-card h2 {
        font-size: 1.2em;
        color: #0a1b39;
       
        
    }

    .movie-card p {
        font-weight: bold;
    }
