/* src/components/WatchList.css */
.empty-watchlist-message {
    font-size: 16px; /* Adjust font size if needed */
    margin-left: 50px;
}

.watchlist-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-left: 40px;
}

.watchlist-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    padding: 8px;
    background-color: #f9f9f9;
    transition: transform 0.2s;
    color: #0a1b39;
}

    .watchlist-item:hover {
        transform: scale(1.05);
    }

    .watchlist-item img {
        width: 100%; /* make images responsive */
        height: auto; /* Maintain aspect ratio */
        border-radius: 5px; /*rounded corners */
    }

    .watchlist-item h2 {
        font-size: 1.2em;
        margin-top: 10px; /* Space between image and title */
        color: #0b1c3b;
    }
